#bot-response::-webkit-scrollbar {
  width: 7px;
}

#bot-response::-webkit-scrollbar-track {
  background-color: #343541;
}

#bot-response::-webkit-scrollbar-thumb {
  background-color: rgb(86, 88, 105);
  /* border-radius: 10px; */
}

#bot-response::-webkit-scrollbar-thumb:hover {
  background-color: #acacbe;
}
